* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* For following CSS Box-Model properly */
}

/* Shared Styles */

.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.logo h2 {
    font-weight: 800;
    font-size: 45px;
}

.color-orange {
    color: #FD6E0A;
}

.btn {
    background-color: #FD6E0A;
    border: none;
    border-radius: 5px;
    padding: 18px 35px;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

/* Main Styles */

header {
    background-color: #FFF8F3;
    padding-top: 50px;
}

nav {
    max-width: 1140px;
    width: 71.25%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    /* Max distance between items */
    align-items: center;
}

nav .menu {
    display: flex;
    list-style: none;
    gap: 51px;
    align-items: center;
}

nav .menu a {
    font-size: 20px;
    color: #474747;
    text-decoration: none;
    
}
